<%= link_to "Back", :back %>
<%= link_to "All teams", teams_path %><h2><%= @team.name %></h2>
<p><%= @team.description || "No description" %></p>
<%= link_to 'Edit', edit_team_path(@team.slug)%>
<%= link_to 'Delete', url_for(action: :destroy,team_name: @team.slug), method: :delete, data: {confirm: "Are you sure you want to delete #{@team.name}"} %>
<h3>Team Forecasts</h3>
<%= link_to "See #{@team.name} forecasts", forecasts_path(@team.slug)%>
<h3>Members</h3>
<%= link_to "Add Members", new_member_path(team_id: @team.id) %>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
<tbody>
  <% if @team.members.size > 0 %>
    <% @team.members.each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.email %></td>
        <td>
          <%= link_to 'Show', member_path(member.id)%>
          <%= link_to 'Edit', edit_member_path(member.id)%>
          <%= link_to 'Remove', edit_member_path(member.id)%>
          <%= link_to 'Delete', url_for(action: :destroy,id: member.id), method: :delete, data: {confirm: "Are you sure you want to delete #{member.full_name}"} %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan=4>No members</td>
    </tr>
  <% end %>
</tbody>
</table>
<h3>Fields</h3>
<%= link_to "Add fields to team", new_team_fields_path(@team.slug) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
<tbody>
  <% if @team.team_fields.size > 0 %>
    <% @team.team_fields.each do |team_field| %>
      <tr>
        <td><%= team_field.field.name %></td>
        <td><%= team_field.field.code || "No code" %></td>
        <td><%= team_field.field.description || "No description" %></td>
        <td>
          <%= link_to 'Show', field_path(team_field.field.id)%>
          <% if team_field.field.name.downcase != "holiday" %>
            <%= link_to 'Remove from team', url_for(controller: :team_fields, action: :destroy, id: team_field.id), method: :delete, data: {confirm: "Are you sure you want to remove #{team_field.field.name} from #{@team.name.titleize}"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan=4>No Fields</td>
    </tr>
  <% end %>
</tbody>
</table>