<%= link_to "Teams", teams_path %>
<%= link_to "Members", members_path %>
<%= link_to "Fields", fields_path %>
<%= link_to "Holidays", holidays_path %>
<%= link_to "Forecasts", monthly_forecasts_path %>

<h1>Actions</h1>
<%= button_to "Remind everyone", send_reminder_path, remote: true, method: :get, class: "cursor-pointer bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-indigo-200" %>
