<%= link_to "Back", :back %>
<%= link_to "All Forecasts", monthly_forecasts_path %>
<h2><%= @monthly_forecast.friendly_name %></h2>
<p><%= @monthly_forecast.date %></p>
<p>Total hours: <%= @monthly_forecast.total_hours %>
<% if @monthly_forecast.holiday_hours > 0 %>
  <p>Holiday hours: <%= @monthly_forecast.holiday_hours %>
<% end %>

<%= link_to 'Edit', edit_monthly_forecast_path(@monthly_forecast.id)%>
<%= link_to 'Delete', url_for(action: :destroy,id: @monthly_forecast.id), method: :delete, data: {confirm: "Are you sure you want to delete the #{@monthly_forecast.friendly_name}"} %>