<div id="member-email" class="text-gray-500 mb-2"><%= @member&.email%></div>
<div>There are <span class="expected-hours"><b><%= @team_monthly_forecast&.monthly_forecast&.total_hours %></b></span> hours this month.</div>
<%= form_with model: member_forecast, url: create_forecast_path, method: :post, id: "forecast-form", data: { date:  @team_monthly_forecast&.date&.strftime("%Y-%m")} do |form| %>
  <% if team_monthly_forecast.present? %>
    <%= hidden_field_tag :team_monthly_forecast_id, team_monthly_forecast.id, id: "team-monthly-forecast-id", name: "member_forecast[team_monthly_forecast_id]", required: true %>
  <% else %>
    <%= form.select :team_id, options_for_select(@teams&.map { |tm| [tm.name.titleize, tm.id] }, team&.id), { prompt: "select team" }, { name: "member_forecast[team_id]", id: "team-id", required: true , class: "block w-full mt-4 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
  <% end %>
  <%= form.select :member_id, options_from_collection_for_select(@members&.sort_by { |member| member&.email&.downcase } || [], :id, :email, @member&.id), { prompt: "select email" }, { id: "member-emails", required: true, class: "block w-full mt-4 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
  <% if team %>
    <% if @member_forecast&.errors&.present? %>
      <div class="bg-red-100 border border-red-400 text-red-700 my-4 px-4 py-3 rounded relative">
      <div class="mt-2 mb-4">
        <b class="font-bold">Failed to submit forecast</b>
      </div>
      <ul class="list-disc list-outside px-4">
      <% @member_forecast.errors.each do |error| %>
          <li><b class="font-bold"><%= error.attribute %>:</b> <%= error.message %></li>
      <% end %>
      </ul>
      </div>
    <% end %>
    <div class="mt-8 flex flex-col">
      <table class="table-auto">
        <thead>
          <tr>  
            <th class="text-right pr-4">Fields</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% team_monthly_forecast.ordered_team_fields.each do |team_field| %>
          <%# Only show holiday when there is a holiday %>
          <% if team_field.field.name.downcase == "holiday" && @team_monthly_forecast.monthly_forecast.holiday_hours == 0 %>
            <% next %>
          <% elsif team_field.field.name.downcase == "holiday" %>
            <tr>
              <td class="text-right pr-4 align-middle py-4">
                <%= form.label team_field.field.name, team_field.field.name, class: "text-gray-700 whitespace-nowrap" %>
              </td>
              <td class="align-middle">
                <%= form.number_field :hours, step: 1, min: 0, name: "member_forecast[hours[#{team_field.field.id}]]", value: @member_forecast&.hours&.fetch(team_field.field.id.to_s, nil),  class: "hour-input block w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", value: @team_monthly_forecast.monthly_forecast.holiday_hours, required: true %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-gray-500 text-sm pb-4"><%= team_field.field.description %></td>
            </tr>
          <% else %>
            <tr>
              <td class="text-right pr-4 align-middle">
                <%= form.label team_field.field.name, team_field.field.name, class: "text-gray-700 whitespace-nowrap" %>
                <% if team_field.field.code.present? %>
                  <p class="text-gray-500 text-sm"><%= team_field.field.code %></p>
                <% end %>
              </td>
              <td class="align-middle">
                <%= form.number_field :hours, step: 1, min: 0, name: "member_forecast[hours[#{team_field.field.id}]]", value: @member_forecast&.hours&.fetch(team_field.field.id.to_s, nil), class: "hour-input block w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-gray-500 text-sm pb-4"><%= team_field.field.description %></td>
            </tr>
          <% end %>
        <% end %> 
        </tbody>
      </table>
      <%= form.label "notes", class: "text-gray-700 mt-4", value: @member_forecast&.notes %>
      <%= form.text_area :notes, name: "member_forecast[notes]", id: "notes-input", class: "block w-full mt-1 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      <div class="text-gray-500 text-sm pb-4">If you include hours in the 'other' field, please indicate what the hours are for in the notes</div>
      <table class="table-auto my-8">
        <tbody>
          <tr class="text-gray-500">
            <td class="pr-4">Expected Hours</td>
            <td id="expected-hours"><%= team_monthly_forecast.monthly_forecast.total_hours %></td>
          </tr>
          <tr>
            <td class="pr-4">Your Hours</td>
            <td id="member-hours"><%= member_forecast.total_hours %></td>
          </tr>
        </tbody>
      </table>
    <% if team_monthly_forecast.open? %>
        <%= button_tag id: "forecast-submit", name: nil, class: "w-full cursor-pointer bg-green-600 text-white text-base py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" do %>
          Submit Forecast
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>