<div>
  <div>
    <div id="forecast-title"><span id="team-name"><%= @team&.name&.titleize || "Team"%></span> <%= "#{@monthly_forecast&.date&.strftime('%B %Y')} " %>Forecast</div>
    <% if !monthly_forecast.active %>
      <p>This form is no longer accepting submissions</p>
    <% end %>
    <div id="forecast-form-container">
      <%= render "form", team: @team, monthly_forecast: @monthly_forecast, member_forecast: @member_forecast, member: @member %>
    </div>
    <%= form_with url: new_forecast_path, method: :get, id: "forecast-user-details-form", class: "hidden", data: { remote: true } do |form| %>
      <%= hidden_field_tag :team_id, @team&.id, id: "user-details-team-id", name: "team_id" %>
    <% end %>
  </div>
</div>