<div>
  <div>
    <div id="forecast-title"><span id="team-name"><%= @team&.name&.titleize || "Team"%></span> <%= "#{@monthly_forecast&.date&.strftime('%B %Y')} " %>Forecast</div>
    <div>
      <span>First Name</span>
      <span>Last Name</span>
      <%= form_with url: new_forecast_path, method: :get, id: "forecast-user-details-form", data: { remote: true } do |form| %>
        <%= form.select "team-name", options_for_select(@teams&.map { |team| [team.name.titleize, team.slug] }, @team&.slug), { prompt: "select team" }, { name: "team_name" } %>
        <%= form.select "email", options_from_collection_for_select(@members, :id, :email), prompt: "select email" %>
      <% end %>
    </div>
    <div id="forecast-form-container">
      <%= render "form", team: @team %>
    </div>
  </div>
</div>