<div class="flex justify-center">
  <div class="min-w-64 w-full sm:w-7/12 md:w-1/2 lg:w-4/12 bg-white px-4 sm:px-8 py-8 my-16 shadow rounded">
    <div id="forecast-title" class="text-lg mb-2"><span id="team-name" class="font-bold"><%= @team&.name&.titleize || "Team"%></span> <span class="text-gray-500"><%= "#{@team_monthly_forecast&.date&.strftime('%B %Y')} " %>Forecast</span></div>
    <div class="mb-2">Thank you for submitting, <%= @member.first_name.capitalize %>!</div>
    <%# If holiday hours are not correct %>
    <% if @team_monthly_forecast.holiday_hours > 0 && @team_monthly_forecast.holiday_hours != @member_forecast.hours["holiday"].to_i %>
      <div class="bg-red-100 border border-red-400 text-red-700 my-4 px-4 py-3 rounded relative">
        <b class="font-bold">Action Required:</b> Please correct your forecasted holiday hours. Expected <%= @team_monthly_forecast.holiday_hours %> holiday hours. 
        You submitted <%= @member_forecast.hours["holiday"] || 0 %> holiday hours.
      </div>
    <% end %>
    <%# If total hours are over expected hours %>
    <% if @member_forecast.total_hours > @team_monthly_forecast.total_hours %>
      <div class="bg-indigo-100 border border-indigo-400 text-indigo-700 my-4 px-4 py-3 rounded relative">
        You have forecasted <%= @member_forecast.total_hours - @team_monthly_forecast.total_hours %> hours of overtime.
      </div> 
    <% end %>
    <%# If total hours are less than expected hours %>
    <% if @member_forecast.total_hours < @team_monthly_forecast.total_hours %>
      <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 my-4 px-4 py-3 rounded relative">
        <b>Action may be required:</b> your submitted hours is less than what is expected
        this month. You submitted <%= @member_forecast.total_hours %> hours and 
        <%= @team_monthly_forecast.total_hours %> hours were expected. If this was an error, please resubmit.
      </div> 
    <% end %>
    <div class="mb-2">A confirmation email has been sent to <%= @member.email %></div>
    <div class="mb-4">Here is your submission</div>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="pr-4 text-right">Field</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% @member_forecast.hours.each do |field, hours| %>
          <% if hours.present? && hours.to_i > 0 %>
            <tr>
              <td class="pr-4 text-right"><%= field %></td>
              <td><%= hours %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <!-- separator -->
        </tr>
        <tr>
          <td class="pr-4 text-right">Expected Total</td>
          <td><%= @team_monthly_forecast.total_hours%></td>
        </tr>
        <tr>
          <td class="font-bold pr-4 text-right">Your Total</td>
          <td class="font-bold"><%= @member_forecast.total_hours %></td>
        </tr>
      </tbody>
    </table>
    <% if @member_forecast.notes.present? %>
      <div class="mt-4">The following note was added:</div>
      <div class="text-gray-500"><%= @member_forecast.notes %></div>
    <% end %>
    <%= button_to "submit again", new_team_forecast_path(
      team_name: @team_monthly_forecast.team.slug,
      year: @team_monthly_forecast.date.strftime("%Y"),
      month: @team_monthly_forecast.date.strftime("%B")
      ), method: :get, data: { turbolinks: false }, params: { member_id: @member.id }, class: "mt-8 w-full cursor-pointer bg-transparent hover:bg-indigo-500 text-indigo-700 hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded" %>
  </div>
</div>