<div class="p-4">
  <div class="flex flex-wrap justify-between mb-4">
    <div>
    <h3 class="text-lg font-bold mb-4"><%= @current_team_monthly_forecast.friendly_date %> Fields</h3>
    </div>
    <div>
      <%= link_to "Add fields", new_team_fields_path(@team.slug, team_monthly_forecast_id: @current_team_monthly_forecast.id), class: "cursor-pointer bg-transparent hover:bg-indigo-500 text-indigo-700 hover:text-white -mt-2 py-2 px-4 border border-indigo-500 hover:border-transparent rounded text-sm" %>
    </div>
  </div>
  <div class="overflow-x-auto -mx-4">
    <table class="relative w-full table-auto text-sm divide-y divide-gray-200">
      <thead>
        <tr class="text-left text-gray-500">
          <th class="px-4 py-4">Name</th>
          <th class="px-4 py-4">Code</th>
          <th class="px-4 py-4">Description</th>
          <th class="px-4 py-4">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @current_team_monthly_forecast.ordered_team_fields.each_with_index do |team_field, index| %>
          <tr class="text-left hover:bg-gray-50">
            <td class="px-4 py-2 sm:py-4"><%= team_field.field.name %></td>
            <td class="px-4 py-2 sm:py-4"><%= team_field.field.code || "No code" %></td>
            <td class="px-4 py-2 sm:py-4"><%= team_field.field.description || "No description" %></td>
            <td class="px-4 py-2 sm:py-4">
              <% if !Field::SPECIAL_FIELDS.include?(team_field.field.name.downcase) %>
                <%= link_to 'Remove', url_for(controller: :team_fields, action: :destroy, id: team_field.id), method: :delete, data: {confirm: "Are you sure you want to remove #{team_field.field.name} from #{@team.name.titleize}"}, class: "cursor-pointer text-indigo-500 no-underline hover:underline mr-4"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>