<%= form_with model: @team_field, url: team_fields_path(team_name: @team.slug), method: :post, id: "team-field-form" do |form| %>
  <%= form.hidden_field :team_id, value: @team.id %>
  <% if @fields.size > 0 %>
    <div class="mb-12">
      <%= form.label :field_ids, "Select existing field (optional)", class: "text-gray-700"%>
      <%= form.select :field_ids, options_from_collection_for_select(@fields || [], :id, :name), {}, { id: "field-selector", class: "block w-full mt-4 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", multiple: true } %>
    </div>
  <% else %>
    <p class="text-gray-700 mb-8">No existing fields left to add. Add new field</p>
  <% end %>            
  <%= hidden_field_tag :team_monthly_forecast_id, @team_monthly_forecast&.id, id: "team-field-details-team-monthly-forecast-id", name: "team_monthly_forecast_id" %>
  <div class="flex justify-end">
    <%= form.submit "Save", class: "ml-4 cursor-pointer bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-indigo-200" %>
  </div>
<% end %>