<%= form_with model: @team_field, url: team_fields_path(team_name: @team.slug), method: :post, id: "team-field-form" do |form| %>
  <% if @team_field&.errors&.present? ||  @field&.errors&.present? %>
    <div class="bg-red-100 border border-red-400 text-red-700 my-4 px-4 py-3 rounded relative">
    <div class="mt-2 mb-4">
      <b class="font-bold">Failed to create field</b>
    </div>
    <ul class="list-disc list-outside px-4">
    <% @team_field&.errors&.each do |error| %>
        <li><b class="font-bold"><%= error.attribute %>:</b> <%= error.message %></li>
    <% end %>
    <% @field&.errors&.each do |error| %>
        <li><b class="font-bold"><%= error.attribute %>:</b> <%= error.message %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <%= form.hidden_field :team_id, value: @team.id %>
  <% if @fields.size > 0 %>
    <div class="mb-12">
      <%= form.label :field_id, "Select existing field (optional)", class: "text-gray-700"%>
      <%= form.select :field_id, options_from_collection_for_select(@fields || [], :id, :name), { include_blank: true, prompt: "select field" }, { id: "field-selector", class: "block w-full mt-4 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>
  <% else %>
    <p class="text-gray-700 mb-8">No existing fields left to add. Add new field</p>
  <% end %>            
  <div class="mb-2">
    <%= form.label :name, "Name", class: "text-gray-700" %>
    <%= form.text_field :name, required: true, class: "mt-1 block w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>
  <div class="mb-2">
    <%= form.label :code, "Code", class: "text-gray-700" %>
    <%= form.text_field :code, class: "mt-1 block w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>
  <div class="mb-2">
    <%= form.label :description, "Description", class: "text-gray-700" %>
    <%= form.text_area :description , class: "mt-1 block w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>
  <div class="mb-2">
    <%= form.label :start_on, "Start using on", class: "text-gray-700" %>
    <div class="flex w-full">
    <%= form.date_select :start_on, { start_year: Time.zone.today.year, discard_day: true }, { required: true, class: "mt-1 mr-2 flex-grow-0 block rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>
  </div>
  <div class="mb-2">
    <%= form.label :end_after, "Stop using after", class: "text-gray-700" %>
    <div class="flex w-full">
      <%= form.date_select :end_after, { include_blank: true, start_year: Time.zone.today.year, discard_day: true }, { class: "mt-1 mr-2 block flex-grow-0 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>
    <div class="text-gray-500 text-sm pb-4">Leave blank to use indefinitely</div>
  </div>
  <%# only show default if admin %>
  <% if current_member.is_admin? %>
    <div class="mb-2">
      <%= form.label :default, "Is default field for all teams", class: "text-gray-700" %>
      <%= form.check_box :default, class: "rounded border-gray-300 text-indigo-600 focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
  <% end %>
  <div class="flex justify-end">
    <%= form.submit "Save", class: "ml-4 cursor-pointer bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-indigo-200" %>
  </div>
<% end %>

<%= form_with url: new_team_fields_path(@team.slug), method: :get, id: "team-field-field-id-form", class: "hidden", data: { remote: true } do |form| %>
  <%= hidden_field_tag :field_id, @field&.id, id: "team-field-details-field-id", name: "field_id" %>
<% end %>