<%= link_to "Back", team_path(@team.id) %>
<h2>New field for <%= @team.name.titleize %></h2>
<% if @fields.size > 0 %>
  <%= form_with model: @team_field, url: fields_for_teams_path, method: :post, id: "team-field-form" do |form| %>
    <%= form.hidden_field :team_id, value: @team.id %>
    <%= form.label "Field" %>
    <%= form.select :field_id, options_from_collection_for_select(@fields || [], :id, :name), { prompt: "select field" }, { required: true } %>
    <%= form.submit %>
  <% end %>
<% else %>
  <o>No fields left to add</p>
<% end %>
