<p>Hi <%= @member.first_name %>,</p>
<p>Thanks for submitting your <%= @team.name.titleize %> <%= @monthly_forecast.friendly_name %>
<%# If holiday hours are not correct %>
<% if @monthly_forecast.holiday_hours > 0 && @monthly_forecast.holiday_hours != @member_forecast.hours["holiday"]%>
  <p>
    <b>Action Required:</b> Please correct your forecasted holiday hours. Expected <%= @monthly_forecast.holiday_hours %> holiday hours. 
    You submitted <%= @member_forecast.hours["holiday"] || 0 %> holiday hours.
  </p>
<% end %>
<%# If total hours are over expected hours %>
<% if @member_forecast.total_hours > @monthly_forecast.total_hours %>
  <p>
    You have forecasted <%= @member_forecast.total_hours - @monthly_forecast.total_hours %> hours of overtime.
  </p> 
<% end %>
<%# If total hours are less than expected hours %>
<% if @member_forecast.total_hours < @monthly_forecast.total_hours %>
  <p>
    <b>Action may be required:</b> your submitted hours is less than what is expected
    this month. If this was an error, please resubmit.
  </p> 
<% end %>
<p>Here is your submission</p>
<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @member_forecast.hours.each do |field, hours| %>
      <% if hours.present? && hours.to_i > 0 %>
        <tr>
          <td><%= field %></td>
          <td><%= hours %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <!-- separator -->
    </tr>
    <tr>
      <td>Expected Total</td>
      <td><%= @monthly_forecast.total_hours%></td>
    </tr>
    <tr>
      <td>Your Total</td>
      <td><%= @member_forecast.total_hours %></td>
    </tr>
  </tbody>
</table>
<% if @member_forecast.notes.present? %>
  <div>The following note was added</div>
  <div><%= @member_forecast.notes %></div>
<% end %>
<p>
  To make a change, please submit a new forecast <%= link_to "here", new_team_forecast_url(
  team_name: @team.slug,
  year: @monthly_forecast.date.strftime("%Y"),
  month: @monthly_forecast.date.strftime("%B"),
  member_id: @member.id
  )%>. Only your most recent submssion will be used.
</p>