<div class="mt-8 mb-4 px-4 sm:px-0">
  <h2 class="font-bold mb-2"><%= @team.name.titleize %> Forecasts</h2>
  <% if @team_monthly_forecasts.size > 0 %>
  <ul>
    <% @team_monthly_forecasts.each do |forecast| %>
      <% status_color = forecast.open? ? "green" : "red" %>
      <li>
        <%= 
          link_to forecast.friendly_name, forecast_path( 
            team_name: @team.slug, 
            year: forecast.date.year,
            month: forecast.month_name
          ), class: "no-underline hover:underline text-indigo-500"
        %>
        <%# use these spans so that the dynamic classes are not purged by tailwind if not used %>
        <span class="hidden text-green-50 bg-green-500">
        <span class="hidden text-red-50 bg-red-500">
        <span class="font-bold leading-none text-xs mx-2 align-middle py-1 px-2 <%= status_color %>-50 bg-<%= status_color %>-500 rounded"><%= forecast.open? ? "Open" : "Closed" %></span>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p>No forecasts</p>
  <% end %>
</div>