<h2>Fields</h2>
<%= link_to "Add Field", new_field_path%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Is default for teams</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @fields.size > 0 %>
      <% @fields.each do |field| %>
        <tr>
          <td><%= field.name %></td>
          <td><%= field.code || "no code" %></td>
          <td><%= field.description || "no description" %></td>
          <td><%= field.default ? "yes" : "no" %></td>
          <td>       
            <%= link_to 'Show', field_path(field.id)%>
            <%= link_to 'Edit', edit_field_path(field.id)%>
            <%= link_to 'Delete', url_for(action: :destroy,id: field.id), method: :delete, data: {confirm: "Are you sure you want to delete #{field.name}"} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan=3>No fields</td>
      </tr>
    <% end %>
  </tbody>
</table>