<!DOCTYPE html>
<html>
  <head>
    <title>Forecasts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="padding: 10px 0">
      <h2>Forecasts</h2>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if member_signed_in? %>
        <%= link_to "home", home_path %>
        <%= link_to "logout", destroy_member_session_path, method: :delete %>
      <% else %>
        <%= link_to "login", new_member_session_path %>
      <% end %>
    </div>
    <%= yield %>
    <%= render "shared/modal" %>
  </body>
</html>
