<%= link_to "Back", :back %>
<%= link_to "All Members", members_path %>
<h2><%= member&.new_record? ? "New Member" : member.full_name %></h2>
<% if (defined? team) && team.present? %>
  <p>Add member to <%= team.name %> team</p>
<% end %>
<%= form_with model: member, url: path, method: action, id: "member-form" do |form| %>
  <%= form.label :first_name, "First Name" %>
  <%= form.text_field :first_name, required: true  %>
  <%= form.label :middle_name, "Middle Name" %>
  <%= form.text_field :middle_name  %>
  <%= form.label :last_name, "Last Name" %>
  <%= form.text_field :last_name, required: true  %>
  <%= form.label :email, "Email" %>
  <%= form.text_field :email, required: true  %>
  <% if (defined? team) && team.present? %>
    <%= hidden_field_tag :team_id, team&.id %>
  <% else %>
    <%= form.label :team_id, "Team" %>
    <%= select_tag :team_id, options_for_select(@teams&.map { |tm| [tm.name.titleize, tm.id] }, member.teams.first&.id), prompt: "select team", name: "team_id", id: "team-id" %>
  <% end %>
  <p>Optionally provide a role for a user. Only users with roles can login</p>
  <p>Role Descriptions</p>
  <ul>
    <li>Admin: manage entire application. Can manage and view forecasts for all teams.</li>
    <li>Manager: Can only manage and view forecasts for the team that the member belongs to.</li>
    <li>Representative: Can only manage the team that the member belongs to. Cannot see any forecasts.</li>
  </ul>
  <%= form.label :role_id, "Role" %>
  <%= select_tag :role_id, options_for_select(@roles&.map { |role| [role.name.downcase, role.id] } + [["no role", -1]], member.roles&.first&.id), prompt: "select role", name: "role_id", id: "role-id" %>
  <%= form.submit %>
<% end %>